h1{
    color: olive;
    text-align: center;
    background-color: khaki;
}
img {
    float: left;
    size: 0cm;
  }
body{
    background-color: rosybrown;
}
p{
    color: black;
}
h2{
    color: thistle;
}
